Frontend/*.iml
Frontend/.gradle
Frontend/local.properties
Frontend/.idea/caches
Frontend/.idea/libraries
Frontend/.idea/modules.xml
Frontend/.idea/workspace.xml
Frontend/.idea/navEditor.xml
Frontend/.idea/assetWizardSettings.xml
Frontend/.DS_Store
Frontend/build
Frontend/captures
Frontend/.externalNativeBuild
Frontend/.cxx
Frontend/local.properties
Backend/.env
Backend/.idea/
Backend/*.html
